<html>
	<head>
<meta charset="UTF-8" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
 <meta name="viewport" content="width=device-width, initial-scale=1">	
			
</head>	
	<body onload="onLoad()">
		
	
		<div class="container" id="webLivros">
			
		<h3 style="text-align: center; color: cadetblue; margin: 30px;font-weight: 800;">Lista de Livros Cadastrados</h3>				
			<div class="card   mb-5" v-for ="livro in livros">
			<div class="card-body" style=" border-radius: 10px;">
					<div class="row" style="justify-content: center;">
					<div class="col-12 col-sm-6 mb-3">
				<div style="color: cadetblue;font-size: larger; font-weight: 500;margin: 4px;">Identificação</div> 
				<div class="card-header alert-dark" style="font-weight: 600; color: #808080;border-radius: 5px;background-color: aliceblue; border-color: aliceblue;">{{livro.id}}</div>
				<div style="margin-top: 15px;color: cadetblue; font-size: larger; font-weight: 500;  margin: 4px;">Nome do Livro</div> 
				<div class="card-header alert-dark" style="font-weight: 600;  color: #808080;border-radius: 5px;background-color: aliceblue; border-color: aliceblue;">{{livro.nome}}</div>
				<div style="margin-top: 15px;color: cadetblue;  font-size: larger; font-weight: 500;  margin: 4px;">Nome do usuario do plano</div> 
				<div class="card-header alert-dark" style="font-weight: 600; color: #808080;border-radius: 5px;background-color: aliceblue; border-color: aliceblue;">{{livro.nomeUsuario}}</div>
				<div style="margin-top: 15px;color: cadetblue; font-size: larger; font-weight: 500;  margin: 4px;">Plano</div> 
				<div class="card-header alert-dark" style="font-weight: 600;  color: #808080;border-radius: 5px;background-color: aliceblue; border-color: aliceblue;">{{livro.plano}}</div>
					
				</div>
				</div>
				</div>
				
				
			</div>
		</div>
		<script>
			function onLoad() {
				var app = new Vue(
				{
					el : '#webLivros',
					data : {
						livros : []
					},
					mounted () {
						axios
					      .get('http://localhost:8081/livros')
					      .then(response => (this.livros = response.data))
					}
				});
			}
		</script>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	</body>
</html>